---
import { Container, FeatureCard} from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Saiba mais sobre o produto</h2>
			<p>
				Conheça mais sobre o CleanOxy.
				Entenda o que é, como foi criado, qual sua finalidade e como o CleanOxy pode ajudar você, sua casa e o seu negócio.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/landing-1" title="Principais vantagens" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-2" title="Marco legal do saneamento básico" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>
                <!--<FeatureCard href="#" title="Landing Page 3" imgSrc="/assets/images/home/screenshots/landing-3">
				</FeatureCard>-->
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Páginas da empresa</h2>
			<p>
				Conheça mais sobre nossa empresa, entre em contato conosco, nos siga em nossas redes sociais e leia artigos em nosso blog.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/company/about" title="Sobre a H2Oxy" imgSrc="/assets/images/home/screenshots/about">
				</FeatureCard>
				<FeatureCard href="/company/contact" title="Contato" imgSrc="/assets/images/home/screenshots/contact">
				</FeatureCard>
				<FeatureCard href="/blog/" title="Blog" imgSrc="/assets/images/home/screenshots/blog">
				</FeatureCard>
				<FeatureCard
					href="/blog/posts/remote-work-mental-health"
					title="Um post no blog"
          imgSrc="/assets/images/home/screenshots/blog-post"
				>
				</FeatureCard>
				<FeatureCard
					href="/company/legal"
					imgSrc="/assets/images/home/screenshots/legal"
					title="Informação Legal"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Casos de sucesso</h2>
			<p>Veja alguns exemplos de empresas que adiquiriram e comprovaram a eficiencia do CleanOxy</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/theme/get-started"
					imgSrc="/assets/images/home/screenshots/get-started"
					title="Rio Pinheiros em São Paulo"
				>
				</FeatureCard>
				<FeatureCard
					href="/theme/style-guide"
					imgSrc="/assets/images/home/screenshots/style-guide"
					title="Granjas"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
