---
import Layout from '../../layouts/Base.astro';
import LandingContactForm from '../../components/forms/LandingContactForm.astro';
import Logo from '../../components/Logo.astro';

const seo = {
	title: 'CleanOxy | Marco legal do saneamento básico',
	description: 'Marco legal do saneamento básico',
};
---

<Layout seo={seo}>
  <div class="full-page-split__wrapper">
    <section class="full-page-split__image-section">
      <div class="full-page-split__logo">
        <a href="/">
          <Logo />
        </a>
      </div>
      <picture>
        <img
          src="/assets/images/home/classic-hero.jpg"
          alt="Astro Odyssey"
          class="full-page-split__image"
        />
      </picture>
    </section>
    <section class="full-page-split__content-section">
      <div class="full-page-split__content-container">  
        <h1>Marco legal do saneamento básico</h1>
        <p>Lei no 14.026, de 15 de julho de 2020<br><br>
          Importantes alterações foram introduzidas pelo novo Marco Legal do Saneamento Ambiental nas questões relacionadas a prestação dos serviços públicos essenciais, em especial quanto à oferta de água potável e universalização da coleta e tratamento de esgotos. A preocupação com o meio ambiente, a saúde pública e a gestão dos resíduos sólidos não se deve dissociar da questão do saneamento e, nesses pontos, o novo Marco representa significativo avanço.
          <br><br>
          Além da saúde pública, a questão ambiental também está diretamente relacionada com o saneamento básico. A poluição das águas superficiais e subterrâneas ainda é um dano ambiental recorrente no Brasil devido à disposição in natura a céu aberto (lixão) de resíduos sólidos e rejeitos e ao lançamento de esgotos sanitários não tratados nos cursos d’água.
          <br><br>
          Fonte: TCESP – Tribunal de Contas do Estado de São Paulo – Novo Marco Legal do Saneamento Básico</p>
        <LandingContactForm/>
      </div>
    </section>
  </div>
</Layout>

<style>
.full-page-split__wrapper {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-auto-columns: 1fr;
  min-height: 100vh;
}
.full-page-split__image-section {
  position: relative;
}
.full-page-split__image-section :global(img) {
 width: 100%;
  height: 100vh;
  object-fit: cover;
}
.full-page-split__logo {
  background-color: var(--theme-surface-1);
  color: (--theme-on-surface-1);
  padding: 0.5rem 1rem;
  border-radius: var(--theme-shape-radius);
  top: 1rem;
  left: 1rem;
  position: absolute;
  z-index: 1;
}
.full-page-split__logo a {
  text-decoration: none;
}
.full-page-split__content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.full-page-split__content-container {
  margin: 1rem;
  padding: 2rem;
  background-color: var(--theme-surface-1);
  color: var(--theme-on-surface-1);
  border-radius: var(--theme-shape-radius);
}
.full-page-split__content-container h1 {
  font-size: var(--font-size-xl);
}
@media(max-width: 768px) {
  .full-page-split__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 30vh auto;
  }
  .full-page-split__image-section :global(img) {
    max-height: 30vh;
  }
}
</style>

