---
import {Icon} from 'astro-icon';
import { Button, Container, TextCardSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
	title: 'Conheça mais sobre a solução',
	description: 'O produto definitivo para a limpeza de ambientes e purificação de água',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Conheça o CleanOxy</h1>
			<div class="cta-buttons__container">
        
      <p>A preocupação com o meio ambiente, a saúde pública e a gestão dos resíduos sólidos não se deve dissociar da questão do saneamento e, nesses pontos, o novo Marco representa significativo avanço.

		Além da saúde pública, a questão ambiental também está diretamente relacionada com o saneamento básico. A poluição das águas superficiais e subterrâneas ainda é um dano ambiental recorrente no Brasil devido à disposição in natura a céu aberto (lixão) de resíduos sólidos e rejeitos e ao lançamento de esgotos sanitários não tratados nos cursos d’água.</p>
		</TextCardSection>
	</Container>
</Layout>

<style>
	.cta-buttons__container {
		display: flex;
		flex-wrap: wrap;
	}
	.cta-buttons__container :global(a) {
    margin-right: 1rem;
		margin-bottom: 1rem;
	}
	.code-buttons__container {
		margin: 1rem auto;
		display: flex;
		flex-wrap: wrap;
	}
	.code-buttons__container > a {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
</style>
