---
import {Icon} from 'astro-icon'
import {
	TextCardSection,
	Container,
	Button,
	FormInput,
	FormSelect,
	FormTextarea,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
	title: 'Aplicações',
	description: 'O CleanOxy tem muitas aplicações',
};

const selectOptions = ['Option 1', 'Option 2', 'Option 3'];
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Aplicações</h1>
			<p>
				O CleanOxy tem aplicações em diversas modalidades
				
			</p>
		</TextCardSection>
		<section class="style-guide__section">
			<div class="style-guide__title-container">
				<h2>Principais vantagens</h2>
			</div>
			<div>
			  <li>Oxidação de fenol, sulfeto e cianeto.</li>
			  <li>Redução de haa5 (ácidos haloacéticos)</li>
			  <li>Não gera organoclorados</li>
			  <li>Efetivo contra cryptosporidium e giárdia</li>
			  <li>Controle de gosto, cor e odor</li>
			  <li>Não gera THM (Trihalometanos)</li>
			  <li>Oxidação de matéria orgânica</li>
			  <li>Desinfecção: eliminação de vírus, bactérias, fungos, algas anaeróbicas e etc</li>
			  <li>Oxidante sem agressividade</li>
			  <li>Eliminação de biofilmes</li>
			  <li>Tratamento da água em torres de resfriamento</li>
			</div>
		</section>
		<section class="style-guide__section">
			<div class="style-guide__title-container">
				<h2>Tratamento de água</h2>
			</div>
			<div>
				<blockquote>
Importantes alterações foram introduzidas pelo novo Marco Legal do Saneamento Ambiental nas questões relacionadas a prestação dos serviços públicos essenciais, em especial quanto à oferta de água potável e universalização da coleta e tratamento de esgotos.

A preocupação com o meio ambiente, a saúde pública e a gestão dos resíduos sólidos não se deve dissociar da questão do saneamento e, nesses pontos, o novo Marco representa significativo avanço.

Além da saúde pública, a questão ambiental também está diretamente relacionada com o saneamento básico. A poluição das águas superficiais e subterrâneas ainda é um dano ambiental recorrente no Brasil devido à disposição in natura a céu aberto (lixão) de resíduos sólidos e rejeitos e ao lançamento de esgotos sanitários não tratados nos cursos d’água.
				</blockquote>
			</div>
		</section>
		<section class="style-guide__section">
			<div class="style-guide__title-container">
				<h2>Agronegócio</h2>
			</div>
			<div>
				<blockquote>
					Com o passar dos tempos, o mercado ficou cada vez mais exigente quanto aos produtos de origem animal. Processos sendo revistos, produtos com um nível de exigência de alta qualidade e bem estar animal são algumas medidas que foram ganhando evidência no mercado.

Com os níveis de eficácia comprovada, a Oxclor promove uma efetiva sanitização em equipamentos e processos, a fim de garantir e eliminar qualquer risco de contaminação de produtos.

A Oxclor promove a sanitização que anulam os fatores de deterioração da saúde, e cria condições para proteger e garantir a produção com alta confiabilidade.
				</blockquote>
			</div>
		</section>
		<section class="style-guide__section">
			<div class="style-guide__title-container">
				<h2>Industrial</h2>
			</div>
			<div>
				<blockquote>
					Principais aplicações no segmento industrial, o Oxclor atua no tratamento de águas industriais evitando incrustações orgânicas e na eliminação de biofilmes, tratamento de torres de resfriamento, chillers, sanitização de superfícies, tratamento e limpeza de equipamentos em geral, no sal e na salmora para tratamento de carnes e pescados, na produção de gelo, tratamento de efluentes e resíduos  industriais, entre outras diversas aplicações.
				</blockquote>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.style-guide__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
  .style-guide__title-container h2 {
    position: sticky;
    top: 0;
  }
	.style-guide-forms__container {
		display: grid;
		gap: 1rem;
	}
	.style-guide-forms__container h3 {
		margin-bottom: 0.5rem;
	}
	.style-guide-color__card {
		margin-bottom: 1rem;
		background-color: var(--theme-primary);
		color: var(--theme-on-primary);
		padding: 1rem;
		border-radius: var(--theme-shape-radius);
	}
	.style-guide-color__card--surface-1 {
		background-color: var(--theme-surface-1);
		color: var(--theme-on-surface-1);
	}
	.style-guide-color__card--surface-2 {
		background-color: var(--theme-surface-2);
		color: var(--theme-on-surface-2);
	}
	@media (max-width: 768px) {
		.style-guide__section {
			grid-template-columns: 1fr;
			gap: 2rem;
		}
	}
</style>
